/*
|--------------------------------------------------------------------------
| Desktop
|--------------------------------------------------------------------------
*/

@media screen and (min-width: 984px) and (max-width: 1272px) {
    .raw-t-hide {
        display: block !important;
    }
}

/*
|--------------------------------------------------------------------------
| Mobile
|--------------------------------------------------------------------------
*/

@media screen and (max-width: 696px) {

    .raw-t-hide {
        display: hidden;
    }

    #mainNavbar {
        background-color: #333;
    }

    .raw-m-hide {
        display: none;
    }

    .raw-m-hide-important {
        display: none !important;
    }

    .sidebar-menu-btn {
        float: left !important;
        margin-left: 16px;
    }

    .navbar-brand {
        position: relative;
        margin-left: -45px;
        left: 25%;
    }

    .nav-open {
        display: inline;
    }

    .nav-close {
        display: none;
    }

}