/*
|--------------------------------------------------------------------------
| Dashboard
|--------------------------------------------------------------------------
*/

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
|--------------------------------------------------------------------------
| Menu Overlay
|--------------------------------------------------------------------------
*/

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

/*
|--------------------------------------------------------------------------
| Sidebar
|--------------------------------------------------------------------------
*/

.sidebar {
    display: block;
    position: fixed !important;
    z-index: 1000;
    bottom: 0;
    top: 45px;
    width: 300px;
    padding: 20px;
    background-color: #EEE;
    overflow-x: hidden;
    height: 100%;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
@media (min-width: 768px) {
    .sidebar {
        width: 16.66666667%;
        min-width: 200px;
    }
}
@media (max-width: 768px) {
    .sidebar {
        left: -300px;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    border-left: 4px solid #333;
    background-color: #FFF;
}


/*
|--------------------------------------------------------------------------
| Main
|--------------------------------------------------------------------------
*/

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.main .page-header {
    margin-top: 0;
}


/*
|--------------------------------------------------------------------------
| Placeholders
|--------------------------------------------------------------------------
*/

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}