/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

html, body {
    height: 100%;
    min-height: 100%;
    overflow-y: auto;
}

.homepage {
    background-image: url('../img/pexels-photo-28938.jpg');
    background-size: cover;
    background-position: center center;
}

.site-wrapper {
    margin: 50px auto;
    min-height: calc(100% - 98px);
    padding: 24px 0;
}

.menu {
    margin-top: 15px;
}

.menu a {
    padding: 0 8px;
}

/*
|--------------------------------------------------------------------------
| Calendar
|--------------------------------------------------------------------------
*/

.calendar {
    width: 100%;
    min-height: 100%;
}

    .calendar th {
        background-color: #DDD;
        padding: 8px;
    }

    .calendar td {
        vertical-align: top;
        padding: 8px;
        text-align: left;
        border: 1px solid #EEE;
        height: 160px;
        width: calc(100% / 7);
    }

    .calendar td .today {
        background-color: #DDD;
    }

    .calendar td .date {
        float: right;
        text-align: right;
        width: 100%;
    }
    .calendar td .content {
        float: right;
        width: 100%;
    }

.cal-link {
    margin-top: 24px;
}

.previous {
    float: left;
}

.next {
    float: right;
}

/*
|--------------------------------------------------------------------------
| Footer
|--------------------------------------------------------------------------
*/

.footer {
    width: 100%;
    height: 50px;
    background-color: #222;
    color: #FFF;
}

.footer p {
    line-height: 50px;
    margin: 0 0 0 24px;
    padding: 0;
}

.footer {
    .btn {
        margin: 14px 8px 0 8px;
    }
}
