.dropzone {
    border: dotted;
    margin-bottom: 24px;
}

.dz-message {
    margin-top: 3em !important;
}

.bootstrap-tagsinput .tag {
    font-size: 100% !important;
    padding: 0.6em !important;
    background-color: purple;
    border-radius: 2px;
    margin-right: 3px;
    color: #FFF;
}

.selectable {
    cursor: pointer;
}

.selected-highlight {
    background-color: #FEF1B5;
    border-color: #EEC900;
}