/*
|--------------------------------------------------------------------------
| Packages
|--------------------------------------------------------------------------
*/

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/*
|--------------------------------------------------------------------------
| Base
|--------------------------------------------------------------------------
*/

@import "resources/themes/default/assets/sass/_basic.scss";
